$icon-font: 'theme-font';
$enable-bootstrap: false;

$colors: (
  font-color: #000000,
  placeholder-color: #737474,
  color-white: #ffffff,
);

$social-colors: (
    facebook: #1877F2,
    twitter: #1da1f2,
    instagram: #C32AA3,
    whatsapp: #25D366,
    telegram: #0088CC,
    tumblr: #35465D,
    reddit: #FF5700,
    spotify: #1ED760,
    messenger: #00B2FF,
    ios: #A6B1B7,
    android: #A4C639,
    hangout: #1BA261,
    slack: #4A154B,
    discord: #7289DA,
    twitch: #9146FF,
    soundcloud: #FF5500,
    deviantart: #05CC47,
    steam: #171A21,
    skype: #00AFF0,
    youtube: #FF0000,
    pinterest: #BD081C,
    linekdin: #0A66C2,
    dribbble: #EA4C89,
    behance: #0059F7,
    github: #2B3137,
    flickr: #F40083,
);