@font-face {
  font-family: $icon-font;
  src:
    url('../../assets/fonts/#{$icon-font}.ttf') format('truetype'),
    url('../../assets/fonts/#{$icon-font}.woff') format('woff'),
    url('../../assets/fonts/#{$icon-font}.svg#vigor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[data-icon] {
  @include icon-font(data-icon);

  &[data-icon-position="after"] {
    &:before {
      display: none;
    }

    &:after {
      @include init-icon-font;
      content: attr(data-icon);
    }
  }
}